img {
    width: 100%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 35px;
    column-gap: 100px;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    border: solid rgb(200, 200, 200) 1px;
}

.date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: rgb(125, 125, 125);
}

.content-head {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-body {
    font-size: 15px;
    inline-size: inherit;
    overflow-wrap: break-word;
    color: rgb(100, 100, 100);
}

.icons {
    padding: 5px;
    width: 23px;
    height: 23px;
    display: flex;
    align-self: flex-end;
}

.card-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}